.input {
  font-size: 0.9rem;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  color: black;
  margin: 0.25rem;
  border-radius: 1.25rem;
  border-color: hsl(0, 0%, 70%);
  border-width: 1px;
  width: 100%;
}

.inner_label {
  font-family: "Quicksand", sans-serif;
  color: var(--primary-light-colour);

  position: relative;
  width: 100%;
  height: 100%;
  top: 1.875rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.inner_label_up {
  top: 0rem;
  color: var(--primary-colour);
  transition: all 0.2s ease-in-out;
}

.label_container {
  display: inline-block;
  width: 100%;
}